[submodule "email-proof/lib/forge-std"]
	path = email-proof/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "hello-world-chain/lib/forge-std"]
	path = hello-world-chain/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "world-chain/lib/forge-std"]
	path = world-chain/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "revolut-proof/lib/forge-std"]
	path = revolut-proof/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "rev/lib/forge-std"]
	path = rev/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
